a {
  color: #0066cc;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #003366;
  text-decoration: underline;
}

a:active {
  color: #ff0000;
}
.h3 {
  color: #333;
}

.h3:hover {
  color: #555;
}

body { font-family: sans-serif; padding: 20px; max-width: 900px; margin: auto; padding-bottom: 50px; }
.container { display: flex; gap: 20px; margin-bottom: 20px; }
.box { flex: 1; display: flex; flex-direction: column; }
textarea { 
    width: 100%; height: 250px; font-family: monospace; 
    padding: 10px; box-sizing: border-box; border: 1px solid #ccc;
}
button {
    padding: 10px 16px;
    font-size: 1em;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #3366ff;
    color: white;
}
button:hover {
    background: #2244bb;
}
iframe {
    width: 100%; height: 400px; border: 1px solid #ccc;
    background: #fff; box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h3 { margin-bottom: 5px; color: #333; }
#status { font-weight: bold; margin-bottom: 10px; }

/*Composite links*/
.comp-link * {
    transition: inherit;
}
.comp-link:link:not(:hover) {
            color: #777;
        }
.comp-link .link-wrap {
    padding-right: 8px;
}
.comp-link .link-wrap > * {
    color: #777;
    display: inline-block;
    text-decoration: none;
}
.comp-link:hover {
}
.comp-link:hover .linkedin { color: #0077b5; }
.comp-link:hover .github { color: #333; }